<style type="text/css">
    #wrap {
        width: 100%;
        margin: 0 auto;
    }

    #left_col {
        float: left;
        
        
    }

    #right_col {
        float: right;
        width: 60%;
    }

    li{
        color: black;
        font-size: 13pt;
        font-family: Tahoma;


    }
    h1{
        font-family: Tahoma;
        text-align:center;


    }
    h2{
        font-family: Tahoma;
        text-align: center;
        font-size: 11pt;


    }
    h3{
       font-family: Tahoma;
       text-align: center;
       font-size: 10pt; 

    }
</style>








@{
    string artist = @ViewBag.artist;
    artist = artist.ToUpper();

}






<div>

</div>

<h1>@artist</h1>
<h2>@ViewBag.date</h2>
<h3>@ViewBag.location</h3>
<br />
<br />

<div id="wrap">
    <div id="left_col">
        
            @{
                if (ViewBag.songsPlayed.Equals(""))
                {
                    <ul><li>There is no song info available for this concert.</li></ul>
                }
                else
                {
                    <ol>@Html.Raw(ViewBag.songsPlayed)</ol>
                }
            }
      </div>
</div>




<div id="right_col">
            
        @{
    <!--Only generate YouTube player if relevant videos have been found-->
            if (ViewBag.videoIds != "")
            {
                <iframe width="680" height="380" src="https://www.youtube.com/embed/VIDEO_ID?playlist=@ViewBag.videoIds" frameborder="0" allowfullscreen />
            }
        }
        
</div>

